@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vag-Rounded';
  src: url('./assets/fonts/Vag-Rounded/VAGRoundedLTCom-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vag-Rounded';
  src: url('./assets/fonts/Vag-Rounded/VAGRoundedLTCom-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vag-Rounded';
  src: url('./assets/fonts/Vag-Rounded/VAGRoundedLTCom-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vag-Rounded';
  src: url('./assets/fonts/Vag-Rounded/VAGRoundedLTCom-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

